<table class="customer-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Ano</th>
            <th>Ações</th> </tr>
    </thead>
    <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.film_id }}</td>
                <td>{{ film.title }}</td>
                <td>{{ film.release_year }}</td>
                <td>
                    <a href="/film_details/{{ film.film_id }}/">Detalhes</a>
                    <a href="/edit_film/{{ film.film_id }}/">Editar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>