<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Filmes</title>
</head>
<body>
    <h1>Lista de Filmes</h1>

    <table>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Ano de Lançamento</th>
            </tr>
        </thead>
        <tbody>
            {% for film in films %}
            <tr>
                <td>{{ film.title }}</td>
                <td>{{ film.release_year }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <a href="{% url 'add_film_url' %}">
        <button>Adicionar Novo Filme</button>
    </a>
</body>
</html>